<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>id7</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mahmoud Farrag</name>
    <email>15p3028@eng.asu.edu.eg</email>
  </author>

  <description>
    An apriltag model, 36H11 Family, ID 7, Size should be 8x8 cm
  </description>
</model>
