<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>id1</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ahmed Khalid Hassan</name>
    <email>15p8171@eng.asu.edu.eg</email>
  </author>

  <description>
    An apriltag model, 36H11 Family, ID 1, Size should be 5x5 cm
  </description>
</model>
